In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
data = pd.read_csv("/content/Retail Data.csv")
data

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Cost Price,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total
0,4293-1,02-09-2014,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,$156.50,$300.97,$144.47,23.0,"$4,533.52",2%,$194.83,"$4,757.22",$7.18,"$4,291.55"
1,5001-1,24-10-2015,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,$0.24,$1.26,$1.02,8.0,$45.20,3%,$0.00,$45.90,$0.70,$46.91
2,5004-1,13-03-2014,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,$42.11,$80.98,$38.87,45.0,$873.32,4%,$72.23,$837.57,$7.18,$82.58
3,5009-1,18-02-2013,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,$5.33,$8.60,$3.27,16.0,$73.52,1%,$4.35,$740.67,$6.19,$730.92
4,5010-1,13-09-2014,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,$1.53,$2.78,$1.25,49.0,$138.46,7%,$5.95,$123.77,$1.34,$125.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,6831-1,02-11-2016,Roland Murray,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Critical,Artisan Hi-Liter Smear-Safe Highlighters,...,$2.98,$5.84,$2.86,35.0,$115.40,2%,$10.81,$104.09,$0.83,$101.22
4996,6847-1,16-12-2015,Patrick OBrill,"63 Riley Street,Woolloomooloo",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Smiths Colored Interoffice Envelopes,...,$19.83,$30.98,$11.15,49.0,"$1,999.69",7%,$143.91,"$1,947.75",$19.51,"$1,052.55"
4997,6922-1,28-09-2016,Troy Staebel,"1-2/299 Sussex St,Sydney",Sydney,NSW,Consumer,Aanya Zhang,Low,Laser DVD-RAM discs,...,$20.18,$35.41,$15.23,19.0,$929.40,9%,$27.88,$901.52,$1.99,$921.03
4998,6939-1,18-06-2016,Shaun Weien,"Shop 3/144 Wattle St,Ultimo",Sydney,NSW,Corporate,Samantha Chairs,Not Specified,Artisan 479 Labels,...,$1.59,$2.61,$1.02,23.0,$66.54,5%,$4.46,$63.77,$0.50,$64.27
4999,6980-1,12-08-2015,Nora Pelletier,"5/250 Old Northern Road,Castle Hill",Sydney,NSW,Consumer,Nicholas Fernandes,Low,Binder Posts,...,$3.50,$5.74,$2.24,31.0,$213.34,0%,$4.67,$216.51,$5.01,$221.52

In [85]:
data.columns

Index(['Order No', 'Order Date', 'Customer Name', 'Address', 'City', 'State',
       'Customer Type', 'Account Manager', 'Order Priority', 'Product Name',
       'Product Category', 'Product Container', 'Ship Mode', 'Ship Date',
       'Cost Price', 'Retail Price', 'Profit Margin', 'Order Quantity',
       'Sub Total', 'Discount %', 'Discount $', 'Order Total', 'Shipping Cost',
       'Total'],
      dtype='object')

In [86]:
# 1. View the structure of the dataset (columns, types, missing values).

data.info()
data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order No           5000 non-null   object
 1   Order Date         5000 non-null   object
 2   Customer Name      5000 non-null   object
 3   Address            4999 non-null   object
 4   City               5000 non-null   object
 5   State              5000 non-null   object
 6   Customer Type      5000 non-null   object
 7   Account Manager    5000 non-null   object
 8   Order Priority     5000 non-null   object
 9   Product Name       5000 non-null   object
 10  Product Category   5000 non-null   object
 11  Product Container  5000 non-null   object
 12  Ship Mode          5000 non-null   object
 13  Ship Date          5000 non-null   object
 14  Cost Price         5000 non-null   object
 15  Retail Price       5000 non-null   object
 16  Profit Margin      5000 non-null   object
 17  Order Quantity     4999 non-null   float64
 18  Sub Total          5000 non-null   object
 19  Discount %         5000 non-null   object
 20  Discount $         5000 non-null   object
 21  Order Total        5000 non-null   object
 22  Shipping Cost      5000 non-null   object
 23  Total              5000 non-null   object
dtypes: float64(1), object(23)
memory usage: 937.6+ KB

Order No             0
Order Date           0
Customer Name        0
Address              1
City                 0
State                0
Customer Type        0
Account Manager      0
Order Priority       0
Product Name         0
Product Category     0
Product Container    0
Ship Mode            0
Ship Date            0
Cost Price           0
Retail Price         0
Profit Margin        0
Order Quantity       1
Sub Total            0
Discount %           0
Discount $           0
Order Total          0
Shipping Cost        0
Total                0
dtype: int64

In [87]:
# 2. What is the shape (rows, columns) of the dataset?

data.shape

(5000, 24)

In [88]:
# 3. Are there any duplicate records?

data.duplicated().sum()

np.int64(0)

In [89]:
# 4. Are there any missing or corrupted entries in Ship Date, Order Date, or numeric columns?

display(data.isnull().sum())

Order No             0
Order Date           0
Customer Name        0
Address              1
City                 0
State                0
Customer Type        0
Account Manager      0
Order Priority       0
Product Name         0
Product Category     0
Product Container    0
Ship Mode            0
Ship Date            0
Cost Price           0
Retail Price         0
Profit Margin        0
Order Quantity       1
Sub Total            0
Discount %           0
Discount $           0
Order Total          0
Shipping Cost        0
Total                0
dtype: int64

In [90]:
# 5. Convert Order Date and Ship Date to datetime.

data['Order Date'] = pd.to_datetime(data['Order Date'], format='%d-%m-%Y')
data['Ship Date'] = pd.to_datetime(data['Ship Date'], format='%d-%m-%Y')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order No           5000 non-null   object
 1   Order Date         5000 non-null   datetime64[ns]
 2   Customer Name      5000 non-null   object
 3   Address            4999 non-null   object
 4   City               5000 non-null   object
 5   State              5000 non-null   object
 6   Customer Type      5000 non-null   object
 7   Account Manager    5000 non-null   object
 8   Order Priority     5000 non-null   object
 9   Product Name       5000 non-null   object
 10  Product Category   5000 non-null   object
 11  Product Container  5000 non-null   object
 12  Ship Mode          5000 non-null   object
 13  Ship Date          5000 non-null   datetime64[ns]
 14  Cost Price         5000 non-null   object
 15  Retail Price       5000 non-null   object
 16  Profit Margin      5000 non-null   object
 17  Order Quantity     4999 non-null   float64
 18  Sub Total          5000 non-null   object
 19  Discount %         5000 non-null   object
 20  Discount $         5000 non-null   object
 21  Order Total        5000 non-null   object
 22  Shipping Cost      5000 non-null   object
 23  Total              5000 non-null   object
dtypes: datetime64[ns](2), float64(1), object(21)
memory usage: 937.6+ KB

In [91]:
# 6. Check for future or inconsistent shipping dates.

data[data['Ship Date'] < data['Order Date']]

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Cost Price,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total
12,5018-1,2013-12-29,Lena Creighton,"127 Liverpool St,Sydney",Sydney,NSW,Small Business,Samantha Chairs,Low,TypeRight Side-Opening Peel & Seel Expanding E...,...,$54.29,$90.48,$36.19,1.0,"$1,029.50",2%,$30.82,"$1,762.54",$19.99,"$1,740.57"
87,5042-1,2013-06-25,Karl Brown,"470 Anzac Parade,Kingsford",Sydney,NSW,Home Office,Tina Carlton,High,Alto Memo Cubes,...,$3.32,$5.18,$1.86,30.0,$130.42,9%,$3.01,$128.43,$2.04,$129.03
107,5055-1,2013-09-11,Liz Willingham,"60 Commercial Rd,Prahran",Melbourne,VIC,Corporate,Yvette Biti,Not Specified,Smiths Premium Bright 1-Pary Blumk Carr Poncils,...,$1.59,$3.28,$1.71,1.0,$356.12,0%,$0.00,$356.12,$0.98,$362.47
149,5070-1,2014-10-29,Mike Gockenbach,"224A Gertrude St,Fitzroy",Melbourne,VIC,Corporate,Connor Betts,Low,Smiths Standard Envelopes,...,$3.52,$5.68,$2.16,29.0,$91.14,3%,$5.65,$87.49,$1.39,$88.39
204,5106-1,2014-09-04,Cyma Kinney,"Sydney Fish Market, Bank Street, Sydney",Sydney,NSW,Small Business,Phoebe Gour,High,TechSavi Cordless Navigator Duo,...,$42.11,$80.98,$38.87,29.0,"$11,447.56",3%,"$1,123.97","$11,146.33",$7.18,"$11,183.15"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4685,6482-1,2016-11-09,Cassandra Brandow,"106 Ebley Street,Bondi Junction",Sydney,NSW,Corporate,Leighton Forrest,Critical,"Creator Anti Dust Chalk, 12/Pack",...,$1.09,$1.82,$0.73,8.0,$72.80,4%,$3.64,$69.16,$1.00,$70.16
4710,6496-1,2015-08-31,Henny Holldon,"531 King St,Newtown",Sydney,NSW,Corporate,Mihael Khan,Medium,"Angle-D Binders with Locking Rings, Label Holders",...,$4.53,$7.30,$2.77,41.0,$639.36,6%,$40.76,$691.56,$7.72,$628.37
4881,6543-1,2015-09-17,Tony Sayre,"499-501 Lygon Street,Carlton North",Melbourne,VIC,Small Business,Yvette Biti,Not Specified,Steady Major Accent Highlighters,...,$3.75,$7.08,$3.33,38.0,$223.81,0%,$12.44,$221.53,$2.35,$226.53
4959,6574-1,2017-01-30,Michelle Huthwait,"834 Bourke Street,Darlinghurst",Sydney,NSW,Corporate,Charlie Bui,Medium,Adesso Programmable 142-Key Keyboard,...,$32.02,$152.48,$120.46,39.0,$622.34,4%,$32.73,$660.83,$4.00,$678.48
4972,6584-1,2015-08-24,Michael Oakman,"8 Rankins Lane ,Melbourne",Melbourne,VIC,Consumer,Connor Betts,Low,Artisan Durable Binders,...,$1.84,$2.88,$1.04,19.0,$43.78,9%,$4.06,$42.14,$1.49,$43.93

In [92]:
# 7. Convert price columns to numeric (remove $ and commas).

data['Cost Price'] = data['Cost Price'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)
data['Retail Price'] = data['Retail Price'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)
data

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Cost Price,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total
0,4293-1,2014-09-02,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,156.50,300.97,$144.47,23.0,"$4,533.52",2%,$194.83,"$4,757.22",$7.18,"$4,291.55"
1,5001-1,2015-10-24,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,0.24,1.26,$1.02,8.0,$45.20,3%,$0.00,$45.90,$0.70,$46.91
2,5004-1,2014-03-13,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,42.11,80.98,$38.87,45.0,$873.32,4%,$72.23,$837.57,$7.18,$82.58
3,5009-1,2013-02-18,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,5.33,8.60,$3.27,16.0,$73.52,1%,$4.35,$740.67,$6.19,$730.92
4,5010-1,2014-09-13,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,1.53,2.78,$1.25,49.0,$138.46,7%,$5.95,$123.77,$1.34,$125.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,6831-1,2016-11-02,Roland Murray,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Critical,Artisan Hi-Liter Smear-Safe Highlighters,...,2.98,5.84,$2.86,35.0,$115.40,2%,$10.81,$104.09,$0.83,$101.22
4996,6847-1,2015-12-16,Patrick OBrill,"63 Riley Street,Woolloomooloo",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Smiths Colored Interoffice Envelopes,...,19.83,30.98,$11.15,49.0,"$1,999.69",7%,$143.91,"$1,947.75",$19.51,"$1,052.55"
4997,6922-1,2016-09-28,Troy Staebel,"1-2/299 Sussex St,Sydney",Sydney,NSW,Consumer,Aanya Zhang,Low,Laser DVD-RAM discs,...,20.18,35.41,$15.23,19.0,$929.40,9%,$27.88,$901.52,$1.99,$921.03
4998,6939-1,2016-06-18,Shaun Weien,"Shop 3/144 Wattle St,Ultimo",Sydney,NSW,Corporate,Samantha Chairs,Not Specified,Artisan 479 Labels,...,1.59,2.61,$1.02,23.0,$66.54,5%,$4.46,$63.77,$0.50,$64.27
4999,6980-1,2015-08-12,Nora Pelletier,"5/250 Old Northern Road,Castle Hill",Sydney,NSW,Consumer,Nicholas Fernandes,Low,Binder Posts,...,3.50,5.74,$2.24,31.0,$213.34,0%,$4.67,$216.51,$5.01,$221.52

In [93]:
# 8. What are the unique values in Customer Type and Order Priority?

print(data['Customer Type'].unique())
print()
print(data['Order Priority'].unique())

['Small Business' 'Corporate' 'Consumer' 'Home Office']

['Critical' 'Medium' 'Not Specified' 'Low' 'High']

In [94]:
# 9. What are the most common shipping modes?

data['Ship Mode'].value_counts()

Ship Mode
Regular Air       4236
Express Air        647
Delivery Truck     117
Name: count, dtype: int64

In [95]:
# 10. Which cities have the highest number of orders?

data['City'].value_counts().head()

City
Sydney       3584
Melbourne    1416
Name: count, dtype: int64

In [96]:
# 11. What’s the range of order quantities and prices?

print("Order Quantity:", (data['Order Quantity'].min(), data['Order Quantity'].max()))
print("Retail Price :", (data['Retail Price'].min(), data['Retail Price'].max()))
print("Cost Price :", (data['Cost Price'].min(), data['Cost Price'].max()))

Order Quantity: (1.0, 50.0)
Retail Price : (1.14, 599.99)
Cost Price : (0.24, 377.99)

In [97]:
# 12. Create a new column for shipping duration.

data['Shipping Duration'] = data['Ship Date'] - data['Order Date']
data['Shipping Duration']

0      2 days
1      2 days
2      0 days
3      2 days
4      4 days
        ...
4995   4 days
4996   2 days
4997   2 days
4998   2 days
4999   2 days
Name: Shipping Duration, Length: 5000, dtype: timedelta64[ns]

In [100]:
# 13. Are there any orders with zero or negative total or quantity?

data['Total'] = data['Total'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

print(data[data['Total'] <= 0])
print()
print(data[data['Order Quantity'] <= 0])

Empty DataFrame
Columns: [Order No, Order Date, Customer Name, Address, City, State, Customer Type, Account Manager, Order Priority, Product Name, Product Category, Product Container, Ship Mode, Ship Date, Cost Price, Retail Price, Profit Margin, Order Quantity, Sub Total, Discount %, Discount $, Order Total, Shipping Cost, Total, Shipping Duration]
Index: []

[0 rows x 25 columns]

Empty DataFrame
Columns: [Order No, Order Date, Customer Name, Address, City, State, Customer Type, Account Manager, Order Priority, Product Name, Product Category, Product Container, Ship Mode, Ship Date, Cost Price, Retail Price, Profit Margin, Order Quantity, Sub Total, Discount %, Discount $, Order Total, Shipping Cost, Total, Shipping Duration]
Index: []

[0 rows x 25 columns]

In [101]:
# 14. Are all discount percentages matching discount dollar amounts?

data[data['Discount %'] != data['Discount $']]

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total,Shipping Duration
0,4293-1,2014-09-02,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,300.97,$144.47,23.0,"$4,533.52",2%,$194.83,"$4,757.22",$7.18,4291.55,2 days
1,5001-1,2015-10-24,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,1.26,$1.02,8.0,$45.20,3%,$0.00,$45.90,$0.70,46.91,2 days
2,5004-1,2014-03-13,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,80.98,$38.87,45.0,$873.32,4%,$72.23,$837.57,$7.18,82.58,0 days
3,5009-1,2013-02-18,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,8.60,$3.27,16.0,$73.52,1%,$4.35,$740.67,$6.19,730.92,2 days
4,5010-1,2014-09-13,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,2.78,$1.25,49.0,$138.46,7%,$5.95,$123.77,$1.34,125.97,4 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,6831-1,2016-11-02,Roland Murray,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Critical,Artisan Hi-Liter Smear-Safe Highlighters,...,5.84,$2.86,35.0,$115.40,2%,$10.81,$104.09,$0.83,101.22,4 days
4996,6847-1,2015-12-16,Patrick OBrill,"63 Riley Street,Woolloomooloo",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Smiths Colored Interoffice Envelopes,...,30.98,$11.15,49.0,"$1,999.69",7%,$143.91,"$1,947.75",$19.51,1052.55,2 days
4997,6922-1,2016-09-28,Troy Staebel,"1-2/299 Sussex St,Sydney",Sydney,NSW,Consumer,Aanya Zhang,Low,Laser DVD-RAM discs,...,35.41,$15.23,19.0,$929.40,9%,$27.88,$901.52,$1.99,921.03,2 days
4998,6939-1,2016-06-18,Shaun Weien,"Shop 3/144 Wattle St,Ultimo",Sydney,NSW,Corporate,Samantha Chairs,Not Specified,Artisan 479 Labels,...,2.61,$1.02,23.0,$66.54,5%,$4.46,$63.77,$0.50,64.27,2 days
4999,6980-1,2015-08-12,Nora Pelletier,"5/250 Old Northern Road,Castle Hill",Sydney,NSW,Consumer,Nicholas Fernandes,Low,Binder Posts,...,5.74,$2.24,31.0,$213.34,0%,$4.67,$216.51,$5.01,221.52,2 days

In [102]:
# 15. Check for mismatches in total calculation’.

data['total_calculation'] = data['Order Quantity'] * data['Retail Price']
data[data['Total'] != data['total_calculation']]

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total,Shipping Duration,total_calculation
0,4293-1,2014-09-02,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,$144.47,23.0,"$4,533.52",2%,$194.83,"$4,757.22",$7.18,4291.55,2 days,6922.31
1,5001-1,2015-10-24,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,$1.02,8.0,$45.20,3%,$0.00,$45.90,$0.70,46.91,2 days,10.08
2,5004-1,2014-03-13,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,$38.87,45.0,$873.32,4%,$72.23,$837.57,$7.18,82.58,0 days,3644.10
3,5009-1,2013-02-18,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,$3.27,16.0,$73.52,1%,$4.35,$740.67,$6.19,730.92,2 days,137.60
4,5010-1,2014-09-13,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,$1.25,49.0,$138.46,7%,$5.95,$123.77,$1.34,125.97,4 days,136.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,6831-1,2016-11-02,Roland Murray,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Critical,Artisan Hi-Liter Smear-Safe Highlighters,...,$2.86,35.0,$115.40,2%,$10.81,$104.09,$0.83,101.22,4 days,204.40
4996,6847-1,2015-12-16,Patrick OBrill,"63 Riley Street,Woolloomooloo",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Smiths Colored Interoffice Envelopes,...,$11.15,49.0,"$1,999.69",7%,$143.91,"$1,947.75",$19.51,1052.55,2 days,1518.02
4997,6922-1,2016-09-28,Troy Staebel,"1-2/299 Sussex St,Sydney",Sydney,NSW,Consumer,Aanya Zhang,Low,Laser DVD-RAM discs,...,$15.23,19.0,$929.40,9%,$27.88,$901.52,$1.99,921.03,2 days,672.79
4998,6939-1,2016-06-18,Shaun Weien,"Shop 3/144 Wattle St,Ultimo",Sydney,NSW,Corporate,Samantha Chairs,Not Specified,Artisan 479 Labels,...,$1.02,23.0,$66.54,5%,$4.46,$63.77,$0.50,64.27,2 days,60.03
4999,6980-1,2015-08-12,Nora Pelletier,"5/250 Old Northern Road,Castle Hill",Sydney,NSW,Consumer,Nicholas Fernandes,Low,Binder Posts,...,$2.24,31.0,$213.34,0%,$4.67,$216.51,$5.01,221.52,2 days,177.94

In [103]:
# 16. Identify top 5 products by order quantity.

data.groupby('Product Name')['Order Quantity'].sum().head()

Product Name
"Adams ""While You Were Out"" Message Pads"    51.0
"Addiss Metal Binder Clips                     12.0
1 Stacking Storage Drawers                     33.0
1-, Tonkins Steel Grame                        29.0
10 Colored Short Pencils                        5.0
Name: Order Quantity, dtype: float64

In [104]:
# 17. Which Account Manager handled the most revenue?

data.groupby('Account Manager')['Total'].sum().sort_values(ascending=False).head(1)

Account Manager
Connor Betts    671173.17
Name: Total, dtype: float64

In [105]:
# 18. What is the average shipping cost by mode?

if data['Shipping Cost'].dtype == 'object':
    data['Shipping Cost'] = data['Shipping Cost'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

data.groupby('Ship Mode')['Shipping Cost'].mean()

Ship Mode
Delivery Truck    5.270085
Express Air       5.247311
Regular Air       5.503553
Name: Shipping Cost, dtype: float64

In [106]:
# 19. Find the most profitable product.

data.groupby('Product Name')['Total'].sum().sort_values(ascending=False).head(1)

Product Name
Cando PC940 Copier    695199.82
Name: Total, dtype: float64

In [107]:
# 20. What is the total revenue generated across all orders?

data['Total'].sum()

np.float64(3731536.4000000004)

In [108]:
# 21. Which customer type generates more revenue?

data.groupby('Customer Type')['Total'].sum().sort_values(ascending=False).head()

Customer Type
Corporate         1373796.44
Home Office        851621.96
Small Business     830886.35
Consumer           675231.65
Name: Total, dtype: float64

In [109]:
# 22. How does order priority affect revenue?

data.groupby('Order Priority')['Total'].sum().sort_values(ascending=False)

Order Priority
Not Specified    817844.66
High             794199.00
Medium           784744.63
Critical         694547.97
Low              640200.14
Name: Total, dtype: float64

In [110]:
# 23. What is the average profit margin by product category?

if data['Profit Margin'].dtype == 'object':
    data['Profit Margin'] = data['Profit Margin'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

av = data.groupby('Product Category')['Profit Margin'].mean()
display(av)

Product Category
Furniture          12.701953
Office Supplies    17.682609
Technology         20.423208
Name: Profit Margin, dtype: float64

In [111]:
# 24. What is the most profitable product overall?

data.groupby('Product Name')['Total'].sum().sort_values(ascending=False).head(1)

Product Name
Cando PC940 Copier    695199.82
Name: Total, dtype: float64

In [112]:
# 25. How many days does it usually take to ship an order?

data['Shipping Duration'].mean()

Timedelta('1 days 20:03:15.840000')

In [113]:
# 26. Do longer shipping times impact profit margins?

data.groupby('Shipping Duration')['Profit Margin'].mean()

Shipping Duration
-365 days      1.820
-364 days     12.895
-362 days      3.180
-359 days    222.000
-355 days      1.470
              ...
306 days      19.810
316 days       1.020
338 days       1.250
366 days      13.900
370 days       0.980
Name: Profit Margin, Length: 61, dtype: float64

In [114]:
data['Shipping Duration'] = data['Ship Date'] - data['Order Date']

In [115]:
# 27. Which city brings in the highest revenue?

data.groupby('City')['Total'].sum().sort_values(ascending=False).head(1)

City
Sydney    2678780.33
Name: Total, dtype: float64

In [116]:
# 28. Which account manager generated the most revenue?

data.groupby('Account Manager')['Total'].sum().sort_values(ascending=False).head(1)

Account Manager
Connor Betts    671173.17
Name: Total, dtype: float64

In [117]:
# 29 Which shipping mode is most cost-effective (lowest avg. shipping)?

data.groupby('Ship Mode')['Shipping Cost'].mean()

Ship Mode
Delivery Truck    5.270085
Express Air       5.247311
Regular Air       5.503553
Name: Shipping Cost, dtype: float64

In [118]:
# 30. Do higher discounts reduce profits?

data.groupby('Discount %')['Profit Margin'].mean()

Discount %
0%     16.747694
1%     22.492785
10%    14.766864
2%     16.064239
3%     17.687825
4%     22.785739
5%     21.123506
6%     17.434985
7%     17.992087
8%     15.995937
9%     16.066337
Name: Profit Margin, dtype: float64

In [119]:
# 31. Which state has the highest number of orders?

data['State'].value_counts().head(1)

State
NSW    3584
Name: count, dtype: int64

In [127]:
# 32. What is the average discount % across all orders?

# data.groupby('Order No')['Discount %'].mean()

display(data['Discount %'].mean())

TypeError: Could not convert string '2%3%4%1%7%8%4%2%10%4%10%6%2%2%8%8%5%1%7%6%7%0%5%10%7%7%2%1%2%3%5%10%9%7%9%0%10%8%10%3%7%2%4%6%9%0%5%4%6%1%6%2%7%1%1%0%7%3%4%10%10%6%1%5%5%7%8%1%3%10%5%2%0%8%7%10%9%2%4%0%8%7%5%2%8%8%4%9%3%1%3%2%10%8%3%0%3%8%0%4%4%10%3%8%5%4%8%0%2%7%2%0%10%8%3%10%3%3%7%7%4%7%9%3%3%5%4%6%1%4%3%8%0%9%6%0%10%4%5%3%2%9%4%10%7%8%10%0%5%3%10%7%6%10%3%1%5%3%9%8%1%4%7%10%4%9%6%1%7%7%4%4%3%3%10%10%0%2%4%6%5%0%5%4%3%7%10%6%3%7%3%6%10%7%3%8%9%7%9%8%3%9%10%4%3%10%0%8%2%3%1%8%0%5%3%7%3%7%9%5%9%7%0%5%10%5%1%2%7%7%1%4%5%0%3%10%0%6%8%0%10%3%3%7%10%7%1%5%3%7%10%5%4%9%4%1%4%1%7%4%8%8%0%3%5%1%3%0%3%8%5%4%6%3%0%4%9%5%0%2%6%3%8%7%9%0%9%7%7%0%2%7%1%5%10%0%3%9%8%0%6%10%3%0%7%2%1%6%5%1%8%8%2%10%10%0%1%4%6%4%2%7%7%8%3%8%7%8%10%0%3%4%10%9%2%4%7%3%5%10%4%0%2%10%3%9%10%0%5%4%1%8%7%10%10%0%6%5%9%4%0%9%7%7%7%1%2%5%3%3%7%3%10%10%8%6%3%0%1%9%7%4%3%8%0%0%6%7%7%7%10%9%10%1%5%9%7%1%10%8%0%0%10%4%5%9%4%6%4%2%1%4%9%0%8%7%0%5%10%8%6%4%2%10%1%9%6%2%7%3%4%4%5%8%5%7%9%10%2%1%8%2%3%10%0%4%2%3%4%4%3%10%6%1%0%3%3%1%1%1%9%6%6%9%10%4%1%1%0%6%3%2%5%3%0%8%4%2%9%1%4%4%4%5%10%9%0%3%2%7%3%7%3%0%4%9%4%7%5%3%1%3%7%3%3%1%6%8%7%5%8%0%6%2%3%10%2%7%4%0%9%6%3%3%10%0%10%10%3%2%8%1%10%8%0%8%3%1%0%4%2%10%3%3%6%2%5%3%0%9%10%1%0%3%9%7%5%7%3%5%3%2%7%7%10%8%9%10%1%7%1%2%3%10%3%7%7%7%6%3%7%0%2%1%5%3%1%4%9%4%0%6%6%10%3%10%3%1%7%5%8%5%0%1%3%3%2%3%8%2%8%10%5%7%9%3%5%0%2%4%0%10%6%7%3%5%9%4%0%5%0%4%1%2%1%7%1%10%0%6%5%0%1%9%10%3%2%10%4%1%0%10%7%9%10%5%3%0%1%8%1%7%4%9%0%0%3%3%8%7%0%6%1%5%7%4%1%8%10%7%6%3%2%1%10%0%8%0%9%4%10%9%3%8%9%7%9%6%7%8%0%3%10%2%10%7%10%6%10%9%4%4%4%5%5%9%3%4%7%2%5%6%4%4%1%9%6%9%7%6%3%0%3%4%3%7%7%0%10%7%3%3%2%3%4%3%6%0%9%6%9%5%3%3%2%4%1%0%4%10%4%10%0%5%2%3%1%1%5%3%7%1%2%7%2%3%8%0%0%7%8%9%4%8%3%7%10%8%9%2%10%9%3%8%10%7%9%1%9%3%4%4%10%8%4%0%5%0%4%0%7%4%7%8%10%10%5%1%5%2%8%3%1%1%8%3%10%7%7%3%10%8%1%10%8%9%3%9%0%4%2%1%1%1%10%9%4%9%2%9%7%9%4%10%3%5%5%9%2%9%10%4%3%10%10%9%10%2%5%10%8%6%10%3%10%1%10%3%7%6%4%7%4%8%7%0%8%7%3%5%7%2%10%1%0%1%4%8%4%5%9%9%1%9%10%8%2%0%1%7%4%3%1%9%8%3%5%3%10%10%4%6%1%7%1%7%4%0%6%4%1%3%10%7%1%0%7%2%4%0%6%0%6%8%4%1%3%3%5%8%4%6%8%9%8%1%10%3%1%4%6%6%7%10%5%6%1%4%4%3%7%10%7%10%2%0%3%2%9%3%3%4%6%6%9%3%3%10%10%0%5%3%8%3%8%5%1%10%3%6%2%6%1%9%9%2%10%2%5%9%10%7%7%5%8%4%0%4%6%0%5%5%6%1%10%7%9%10%4%7%5%3%2%3%7%1%10%7%4%4%7%0%4%10%4%8%6%3%3%1%3%7%4%0%3%3%8%1%4%3%8%8%5%6%0%1%3%6%4%2%0%10%7%10%6%3%10%5%9%7%5%9%3%10%7%7%3%10%7%4%2%4%5%3%8%3%6%9%6%6%10%8%10%3%8%8%4%2%1%4%10%0%2%4%2%4%3%3%9%4%9%3%3%4%3%5%9%6%0%3%5%10%4%4%0%7%0%7%3%5%5%4%10%0%3%0%5%3%6%3%9%6%9%3%6%2%3%1%10%9%10%4%8%2%2%9%7%6%2%1%1%4%3%6%4%0%0%8%7%4%9%2%8%3%3%1%4%10%6%2%1%10%9%5%9%8%0%6%2%8%4%10%9%3%9%7%8%6%2%7%5%5%8%2%9%0%4%1%6%9%1%4%0%8%3%5%4%2%6%8%4%0%8%3%7%7%6%3%0%1%6%10%2%0%0%3%1%5%2%0%0%3%8%10%8%2%7%9%0%5%8%8%9%7%4%4%1%0%3%3%9%5%1%2%2%8%3%10%9%7%3%6%9%1%2%9%10%2%4%5%10%8%7%1%2%3%7%8%3%0%1%0%7%5%1%0%8%8%10%8%0%6%8%1%7%4%0%8%8%7%9%0%1%7%10%1%4%2%7%7%5%0%8%5%9%6%9%5%2%0%1%7%2%8%3%8%4%2%4%7%9%8%5%1%1%3%4%8%0%7%0%4%5%3%1%9%7%10%8%6%8%0%7%2%9%7%9%9%4%7%1%0%6%6%5%4%7%1%7%9%7%1%7%4%8%2%8%8%3%10%6%4%5%4%3%7%9%10%1%4%3%4%7%0%2%7%10%7%4%6%4%1%2%3%7%7%6%10%0%3%7%7%3%1%10%8%2%3%0%10%9%4%8%4%10%1%9%3%6%6%4%5%1%2%1%4%3%4%0%3%7%5%5%0%7%9%10%5%4%3%2%2%5%3%8%3%5%6%10%7%6%0%0%10%9%3%10%4%10%10%10%0%0%4%9%5%0%0%3%2%7%0%9%8%9%1%9%2%9%4%10%8%4%10%3%10%3%2%10%10%6%10%2%2%0%0%9%8%9%1%8%3%5%1%1%2%0%1%0%9%1%3%7%4%0%7%1%3%7%10%0%7%10%2%9%9%3%2%4%1%9%8%1%10%3%7%2%3%10%4%0%9%0%0%4%6%7%4%2%3%0%6%2%0%7%7%6%2%5%10%8%2%3%9%8%5%1%10%0%1%9%1%0%3%0%8%10%5%9%6%3%1%5%0%1%1%4%7%1%3%9%4%2%0%9%0%8%10%5%2%3%7%8%10%0%3%0%10%3%2%10%9%8%10%9%10%4%10%2%9%7%5%10%4%2%5%2%8%6%2%10%7%10%3%2%0%1%2%8%0%7%0%9%10%6%4%9%3%8%5%4%10%1%9%8%9%9%4%8%9%6%7%1%2%2%0%5%3%8%7%4%3%3%9%4%5%1%3%7%3%10%5%8%9%8%0%4%4%3%1%9%4%4%9%7%6%7%6%6%3%3%0%6%9%4%6%5%9%3%7%3%8%2%3%10%1%3%4%6%9%10%8%2%7%9%7%3%0%8%5%8%6%3%4%1%0%3%1%6%10%9%2%4%6%9%7%10%7%0%7%8%10%3%0%9%1%2%4%1%8%0%4%7%0%10%2%9%3%6%10%7%2%10%6%3%7%3%4%7%0%6%10%7%3%3%4%10%9%9%10%9%0%0%3%3%8%1%10%6%6%8%4%8%4%4%1%3%0%1%9%9%0%9%7%2%4%4%2%4%0%8%1%10%10%6%3%7%6%4%0%9%3%9%8%4%3%6%0%10%1%9%2%8%2%7%6%1%10%0%3%0%7%9%7%10%5%5%1%7%2%1%3%2%5%2%3%6%8%1%6%7%9%7%5%4%7%4%4%8%0%6%10%1%7%2%1%9%9%4%7%10%6%0%3%10%6%3%9%7%10%2%7%7%9%7%1%4%6%0%2%6%4%4%10%7%3%0%8%5%8%3%9%8%7%7%0%1%9%3%0%6%8%10%7%4%6%9%7%5%9%8%0%6%10%4%8%9%1%3%8%3%1%6%7%3%4%5%3%9%8%7%4%2%7%10%8%1%7%10%5%8%0%7%6%0%10%10%2%4%8%5%6%5%8%0%4%10%10%3%9%3%8%4%1%10%1%9%10%4%0%8%3%4%6%1%4%2%8%6%4%2%7%6%5%6%10%3%9%7%10%3%1%6%6%5%10%1%4%5%1%8%5%4%8%9%4%5%4%7%10%6%8%7%10%3%4%8%2%4%2%3%5%3%9%3%5%7%4%8%4%7%9%2%4%1%8%3%0%1%3%7%3%8%3%1%5%2%1%5%1%2%9%9%7%10%3%3%10%9%3%0%3%3%9%1%9%9%10%8%5%9%5%2%0%2%8%6%2%3%5%8%9%7%10%0%7%3%2%1%0%10%9%10%2%9%9%3%3%9%6%10%7%0%8%8%8%5%5%9%5%7%6%4%5%8%8%3%3%4%0%6%5%7%1%10%3%1%0%5%10%6%3%8%8%7%9%7%0%5%10%3%8%8%0%0%7%6%3%8%9%5%9%7%6%3%7%2%0%4%10%2%0%0%7%3%7%9%5%10%7%4%3%10%0%10%3%3%1%7%2%2%5%9%8%7%1%10%7%2%9%3%10%5%1%10%5%1%3%1%7%9%1%7%2%5%5%3%7%7%5%7%7%3%8%3%7%4%1%7%1%7%0%10%8%1%0%10%0%5%5%10%1%6%3%8%10%2%5%10%7%8%4%1%9%9%2%5%9%1%8%0%9%0%6%2%7%0%5%2%10%4%1%5%4%0%9%4%6%8%0%4%1%8%1%5%4%8%3%5%10%6%3%10%9%8%8%6%9%0%3%8%10%0%2%6%7%7%3%3%1%10%1%2%2%9%9%8%0%7%0%4%10%10%10%3%1%8%1%7%7%7%3%2%4%9%1%7%5%9%7%8%9%3%4%3%9%7%0%8%8%9%1%10%9%10%0%2%3%10%5%1%0%5%0%1%1%0%8%0%8%0%6%7%1%9%6%10%2%7%3%4%9%6%5%4%8%8%0%8%3%10%10%10%0%9%9%9%1%3%9%7%8%0%0%4%0%7%10%9%5%4%7%1%9%10%3%4%9%0%3%8%4%7%4%9%6%8%4%4%6%6%6%10%4%3%10%3%8%3%3%3%3%4%5%6%1%1%2%10%6%7%8%3%9%0%6%0%3%9%6%1%6%0%7%2%9%5%2%10%3%0%3%0%4%8%9%5%2%8%8%4%1%3%6%9%3%0%10%10%9%2%0%5%1%8%0%10%4%10%4%3%9%10%5%2%0%10%9%0%9%6%3%2%1%9%10%7%1%2%8%8%3%3%1%6%0%3%9%8%3%1%10%4%6%6%2%4%0%2%3%3%1%6%4%8%7%3%6%9%6%8%5%8%9%10%9%10%2%3%5%0%5%8%0%9%10%0%4%2%9%8%9%7%4%7%10%1%7%3%3%3%8%3%10%1%7%4%9%3%1%8%5%0%4%9%7%10%4%1%0%2%8%10%8%3%6%3%8%4%5%0%3%3%2%3%10%4%7%4%10%9%4%2%7%9%5%9%10%7%8%4%3%2%6%10%1%5%2%4%0%5%4%3%7%1%2%8%10%6%6%3%0%10%7%3%0%0%10%1%4%9%4%1%9%5%4%7%7%8%9%0%2%6%1%7%7%9%8%9%9%2%1%1%1%0%10%10%6%2%9%7%5%1%9%3%9%9%3%4%2%9%2%6%5%3%6%4%3%6%8%9%5%5%3%10%7%7%5%0%3%4%7%4%7%3%1%7%0%9%6%0%8%0%0%6%10%4%8%5%10%9%3%8%3%1%0%9%2%9%9%10%9%6%3%5%7%9%7%4%2%9%8%1%10%8%0%3%4%4%6%5%0%7%4%1%8%3%8%8%9%4%10%1%3%3%6%0%6%4%7%0%0%1%1%0%4%9%10%3%9%9%7%1%0%5%10%7%8%3%9%3%6%7%4%1%10%2%10%6%5%9%8%1%8%4%3%0%10%1%8%9%10%2%8%3%0%3%4%0%10%6%7%3%6%8%2%8%1%4%3%6%3%5%7%3%6%4%5%1%1%10%10%6%6%0%5%4%3%6%3%7%8%0%0%10%9%3%3%9%1%0%7%7%9%3%7%4%3%10%1%9%6%1%3%4%2%4%2%4%6%6%0%8%4%4%3%0%5%8%1%7%3%9%2%2%7%4%6%10%10%10%5%2%3%6%7%1%0%0%3%9%4%5%3%10%0%4%7%7%3%5%1%0%1%10%5%1%8%1%6%0%3%10%3%2%10%2%4%10%3%4%2%7%3%0%10%6%5%7%6%10%4%0%6%7%6%5%3%6%3%2%7%3%9%2%8%0%0%8%0%6%10%2%5%3%3%7%7%9%10%2%1%10%3%5%3%1%4%5%10%10%10%1%2%9%8%5%9%1%6%8%10%7%1%7%2%6%6%10%8%0%2%7%3%7%10%3%0%3%1%1%2%7%6%0%6%10%10%4%8%4%2%9%9%2%6%0%6%9%0%3%7%5%4%9%0%5%3%5%4%3%2%3%4%1%8%5%10%0%4%6%0%5%10%0%3%9%5%9%5%1%9%3%9%2%3%3%8%6%2%7%5%2%0%8%10%3%1%10%4%4%6%9%6%3%0%2%6%5%0%8%10%8%7%3%10%8%4%3%2%6%10%9%4%9%5%6%6%3%1%3%8%3%3%2%1%3%7%2%10%10%2%2%5%1%10%10%2%4%0%7%8%8%2%0%3%8%3%10%9%9%8%3%4%0%2%10%0%7%9%1%1%3%7%0%9%0%10%5%10%4%10%3%9%5%2%9%10%9%9%3%3%3%7%4%5%0%0%4%5%4%7%2%10%10%10%10%7%9%9%9%7%0%9%10%1%10%2%10%6%1%0%8%1%0%5%5%7%2%3%2%1%0%1%10%8%10%7%3%3%10%0%1%9%8%9%0%8%1%0%3%0%5%4%0%1%4%1%10%0%1%9%3%8%4%8%10%1%8%5%7%0%10%6%0%1%2%9%3%5%5%0%3%1%10%3%3%7%6%8%3%2%3%7%8%2%9%3%9%10%3%0%3%5%6%2%7%3%3%3%10%8%10%5%10%10%6%4%1%1%5%3%1%5%9%0%3%9%4%2%7%7%7%3%3%0%0%7%3%3%2%6%6%7%5%7%4%3%3%4%5%3%9%9%1%7%1%3%1%3%6%2%7%1%7%1%7%3%3%7%1%4%5%8%3%0%1%9%0%8%7%6%3%9%2%2%9%1%1%1%1%7%4%10%2%1%7%2%8%5%3%7%5%7%3%5%0%9%9%3%2%9%10%6%3%6%4%0%4%3%8%7%2%4%10%7%0%7%2%4%3%1%4%0%9%2%2%8%10%0%9%4%10%8%4%6%1%8%1%8%2%7%1%0%3%7%2%6%3%3%0%9%3%0%2%0%0%9%3%8%7%7%3%5%5%0%3%4%3%9%0%0%3%3%0%3%8%5%2%4%9%7%4%4%3%2%8%3%0%6%3%10%2%3%0%10%3%7%10%10%4%10%6%6%6%0%9%9%4%8%2%7%9%9%5%1%9%6%8%8%3%9%9%10%6%5%8%6%3%5%10%8%5%9%1%6%7%8%10%3%5%9%9%7%2%3%2%5%3%9%10%7%1%6%3%0%7%3%4%8%4%0%1%4%9%3%8%2%9%4%8%10%3%3%5%2%6%8%0%3%0%7%0%7%3%10%7%3%0%7%2%1%5%8%6%3%1%6%3%7%10%6%2%3%9%3%4%10%7%5%8%5%3%1%0%4%7%7%0%3%6%0%9%9%9%4%10%5%9%3%8%2%7%7%10%1%4%0%7%7%0%3%4%9%0%3%4%5%9%0%9%8%7%7%3%5%5%9%7%10%1%4%4%10%0%3%9%7%8%9%3%3%9%9%3%3%2%0%7%3%4%6%1%0%6%6%9%10%0%0%3%4%4%10%6%0%3%5%3%0%6%3%3%5%2%0%5%7%10%1%5%0%9%0%3%1%2%6%2%8%3%6%7%4%2%3%5%8%9%5%7%3%0%0%2%3%3%10%1%10%7%7%9%7%4%4%8%9%3%3%9%2%1%5%1%1%9%1%2%2%9%6%4%5%10%7%2%2%6%6%10%0%8%4%7%9%8%7%10%7%3%2%9%0%3%10%3%7%1%2%6%1%8%8%1%4%4%8%10%5%1%0%10%5%6%7%7%10%1%3%1%4%2%5%0%0%7%5%3%2%8%8%4%7%9%0%7%5%4%9%6%2%7%7%6%5%2%2%6%7%5%4%8%9%3%1%5%3%1%4%10%0%9%1%8%1%6%2%3%9%3%7%1%2%7%2%6%1%5%5%7%9%7%1%7%1%3%1%0%8%0%10%3%8%9%0%3%2%8%5%4%9%7%1%5%1%0%3%8%10%4%3%5%0%1%2%2%7%3%8%1%2%4%6%9%1%1%10%6%8%4%2%9%9%5%10%1%4%1%7%9%9%0%3%3%10%7%7%7%1%4%10%10%3%10%3%0%0%3%6%0%3%7%10%4%1%8%9%1%9%1%2%4%0%2%7%9%10%2%10%2%1%10%10%10%0%8%4%3%2%7%8%10%6%7%9%6%1%6%8%1%4%8%4%9%10%7%1%3%5%10%7%9%8%9%3%7%3%8%7%10%10%9%6%7%8%7%3%0%4%1%1%0%9%7%2%5%1%4%9%4%2%3%6%10%8%9%0%0%7%0%0%6%7%2%10%8%8%3%10%10%1%4%9%0%3%10%5%9%4%0%3%4%5%6%10%7%3%3%1%8%9%8%4%10%2%0%7%10%1%4%2%7%10%3%8%4%1%4%5%7%5%7%3%0%1%6%1%3%1%0%9%9%2%0%3%10%5%4%5%3%10%2%2%5%9%2%10%5%3%0%0%3%3%10%6%9%4%9%3%1%1%3%4%1%6%8%10%8%9%5%7%3%9%9%6%4%5%4%1%5%7%8%0%7%8%4%2%8%5%5%6%9%1%0%8%0%2%3%9%8%1%0%9%5%6%3%4%1%1%2%0%0%10%3%5%4%5%7%9%4%7%6%9%4%0%8%8%4%4%3%8%9%6%6%2%7%9%9%4%1%4%10%4%3%3%10%5%10%6%5%10%0%10%5%2%9%5%4%5%7%0%3%3%9%0%9%9%1%10%10%0%0%9%9%0%3%7%7%9%0%8%4%3%3%10%0%0%6%7%0%2%6%10%5%4%2%9%9%1%1%10%8%1%9%7%4%4%10%4%7%8%3%3%0%0%3%8%8%10%3%7%2%10%0%7%9%3%3%4%8%7%5%8%4%1%8%4%10%7%10%3%4%8%5%0%10%10%2%6%9%4%6%6%10%8%3%2%9%1%5%6%4%2%4%9%3%6%2%10%2%4%8%10%3%8%4%2%3%9%9%0%3%1%9%7%10%5%9%5%1%3%7%4%2%4%10%4%6%0%8%9%8%10%7%1%9%0%9%0%7%7%0%4%3%10%3%3%5%0%3%9%9%7%1%10%4%2%6%9%9%3%7%6%3%9%5%5%6%9%7%2%3%8%0%10%4%8%10%0%2%7%7%10%0%9%4%3%9%7%10%6%5%1%1%10%4%4%3%1%2%0%5%0%8%3%0%9%0%7%4%0%9%6%2%4%6%3%8%9%0%0%7%9%10%0%3%4%8%4%7%9%10%4%9%10%6%9%0%0%7%5%3%6%2%9%0%5%8%0%5%3%7%5%6%8%1%2%10%0%7%8%9%9%8%7%10%0%10%2%5%4%6%7%4%7%9%10%10%0%9%7%10%3%9%6%9%2%9%7%5%2%4%10%0%9%7%9%6%7%2%5%10%4%3%5%5%10%1%9%6%2%5%3%5%5%5%2%3%0%1%9%3%10%8%9%2%8%8%4%5%8%5%0%5%2%9%9%7%7%10%9%9%9%3%3%9%10%2%0%1%3%0%3%9%8%0%7%1%7%6%0%9%4%9%3%3%0%0%4%5%8%9%10%10%4%9%7%8%0%3%3%5%4%1%0%4%10%4%3%8%9%2%1%8%0%0%2%7%3%6%9%10%3%8%3%6%0%0%6%4%0%0%3%6%1%9%10%10%7%6%6%0%8%9%7%0%6%0%3%2%10%3%0%9%5%8%9%2%9%1%6%3%7%6%2%4%1%8%1%8%4%1%6%10%7%3%8%4%10%4%9%4%2%9%0%9%5%3%2%1%5%7%3%8%1%9%8%5%9%6%10%1%6%10%6%1%1%6%6%3%10%2%9%1%2%7%7%3%7%5%10%2%9%1%4%0%9%0%0%3%9%3%0%3%5%2%9%2%10%9%9%3%8%5%9%1%3%7%3%6%1%2%2%7%10%4%3%7%3%7%3%2%4%4%8%6%7%7%7%4%4%9%8%8%3%9%0%0%2%10%6%9%2%3%10%0%0%3%6%3%0%8%10%8%3%3%1%2%3%7%7%8%7%3%10%8%3%10%10%3%2%5%9%2%9%1%10%0%10%5%2%8%5%1%7%10%3%6%9%3%3%0%6%0%3%2%5%4%2%8%1%0%6%6%2%5%3%8%3%1%3%3%2%9%10%2%4%1%8%7%9%5%9%10%4%10%0%0%4%9%7%7%8%9%3%8%6%1%10%0%10%9%7%1%4%0%3%0%3%1%9%7%6%0%4%10%10%7%7%3%8%4%8%5%2%7%9%5%0%' to numeric

In [ ]:
# 32. What is the average discount % across all orders?

# data.groupby('Order No')['Discount %'].mean()

display(data['Discount %'].mean())

TypeError: Could not convert string '2%3%4%1%7%8%4%2%10%4%10%6%2%2%8%8%5%1%7%6%7%0%5%10%7%7%2%1%2%3%5%10%9%7%9%0%10%8%10%3%7%2%4%6%9%0%5%4%6%1%6%2%7%1%1%0%7%3%4%10%10%6%1%5%5%7%8%1%3%10%5%2%0%8%7%10%9%2%4%0%8%7%5%2%8%8%4%9%3%1%3%2%10%8%3%0%3%8%0%4%4%10%3%8%5%4%8%0%2%7%2%0%10%8%3%10%3%3%7%7%4%7%9%3%3%5%4%6%1%4%3%8%0%9%6%0%10%4%5%3%2%9%4%10%7%8%10%0%5%3%10%7%6%10%3%1%5%3%9%8%1%4%7%10%4%9%6%1%7%7%4%4%3%3%10%10%0%2%4%6%5%0%5%4%3%7%10%6%3%7%3%6%10%7%3%8%9%7%9%8%3%9%10%4%3%10%0%8%2%3%1%8%0%5%3%7%3%7%9%5%9%7%0%5%10%5%1%2%7%7%1%4%5%0%3%10%0%6%8%0%10%3%3%7%10%7%1%5%3%7%10%5%4%9%4%1%4%1%7%4%8%8%0%3%5%1%3%0%3%8%5%4%6%3%0%4%9%5%0%2%6%3%8%7%9%0%9%7%7%0%2%7%1%5%10%0%3%9%8%0%6%10%3%0%7%2%1%6%5%1%8%8%2%10%10%0%1%4%6%4%2%7%7%8%3%8%7%8%10%0%3%4%10%9%2%4%7%3%5%10%4%0%2%10%3%9%10%0%5%4%1%8%7%10%10%0%6%5%9%4%0%9%7%7%7%1%2%5%3%3%7%3%10%10%8%6%3%0%1%9%7%4%3%8%0%0%6%7%7%7%10%9%10%1%5%9%7%1%10%8%0%0%10%4%5%9%4%6%4%2%1%4%9%0%8%7%0%5%10%8%6%4%2%10%1%9%6%2%7%3%4%4%5%8%5%7%9%10%2%1%8%2%3%10%0%4%2%3%4%4%3%10%6%1%0%3%3%1%1%1%9%6%6%9%10%4%1%1%0%6%3%2%5%3%0%8%4%2%9%1%4%4%4%5%10%9%0%3%2%7%3%7%3%0%4%9%4%7%5%3%1%3%7%3%3%1%6%8%7%5%8%0%6%2%3%10%2%7%4%0%9%6%3%3%10%0%10%10%3%2%8%1%10%8%0%8%3%1%0%4%2%10%3%3%6%2%5%3%0%9%10%1%0%3%9%7%5%7%3%5%3%2%7%7%10%8%9%10%1%7%1%2%3%10%3%7%7%7%6%3%7%0%2%1%5%3%1%4%9%4%0%6%6%10%3%10%3%1%7%5%8%5%0%1%3%3%2%3%8%2%8%10%5%7%9%3%5%0%2%4%0%10%6%7%3%5%9%4%0%5%0%4%1%2%1%7%1%10%0%6%5%0%1%9%10%3%2%10%4%1%0%10%7%9%10%5%3%0%1%8%1%7%4%9%0%0%3%3%8%7%0%6%1%5%7%4%1%8%10%7%6%3%2%1%10%0%8%0%9%4%10%9%3%8%9%7%9%6%7%8%0%3%10%2%10%7%10%6%10%9%4%4%4%5%5%9%3%4%7%2%5%6%4%4%1%9%6%9%7%6%3%0%3%4%3%7%7%0%10%7%3%3%2%3%4%3%6%0%9%6%9%5%3%3%2%4%1%0%4%10%4%10%0%5%2%3%1%1%5%3%7%1%2%7%2%3%8%0%0%7%8%9%4%8%3%7%10%8%9%2%10%9%3%8%10%7%9%1%9%3%4%4%10%8%4%0%5%0%4%0%7%4%7%8%10%10%5%1%5%2%8%3%1%1%8%3%10%7%7%3%10%8%1%10%8%9%3%9%0%4%2%1%1%1%10%9%4%9%2%9%7%9%4%10%3%5%5%9%2%9%10%4%3%10%10%9%10%2%5%10%8%6%10%3%10%1%10%3%7%6%4%7%4%8%7%0%8%7%3%5%7%2%10%1%0%1%4%8%4%5%9%9%1%9%10%8%2%0%1%7%4%3%1%9%8%3%5%3%10%10%4%6%1%7%1%7%4%0%6%4%1%3%10%7%1%0%7%2%4%0%6%0%6%8%4%1%3%3%5%8%4%6%8%9%8%1%10%3%1%4%6%6%7%10%5%6%1%4%4%3%7%10%7%10%2%0%3%2%9%3%3%4%6%6%9%3%3%10%10%0%5%3%8%3%8%5%1%10%3%6%2%6%1%9%9%2%10%2%5%9%10%7%7%5%8%4%0%4%6%0%5%5%6%1%10%7%9%10%4%7%5%3%2%3%7%1%10%7%4%4%7%0%4%10%4%8%6%3%3%1%3%7%4%0%3%3%8%1%4%3%8%8%5%6%0%1%3%6%4%2%0%10%7%10%6%3%10%5%9%7%5%9%3%10%7%7%3%10%7%4%2%4%5%3%8%3%6%9%6%6%10%8%10%3%8%8%4%2%1%4%10%0%2%4%2%4%3%3%9%4%9%3%3%4%3%5%9%6%0%3%5%10%4%4%0%7%0%7%3%5%5%4%10%0%3%0%5%3%6%3%9%6%9%3%6%2%3%1%10%9%10%4%8%2%2%9%7%6%2%1%1%4%3%6%4%0%0%8%7%4%9%2%8%3%3%1%4%10%6%2%1%10%9%5%9%8%0%6%2%8%4%10%9%3%9%7%8%6%2%7%5%5%8%2%9%0%4%1%6%9%1%4%0%8%3%5%4%2%6%8%4%0%8%3%7%7%6%3%0%1%6%10%2%0%0%3%1%5%2%0%0%3%8%10%8%2%7%9%0%5%8%8%9%7%4%4%1%0%3%3%9%5%1%2%2%8%3%10%9%7%3%6%9%1%2%9%10%2%4%5%10%8%7%1%2%3%7%8%3%0%1%0%7%5%1%0%8%8%10%8%0%6%8%1%7%4%0%8%8%7%9%0%1%7%10%1%4%2%7%7%5%0%8%5%9%6%9%5%2%0%1%7%2%8%3%8%4%2%4%7%9%8%5%1%1%3%4%8%0%7%0%4%5%3%1%9%7%10%8%6%8%0%7%2%9%7%9%9%4%7%1%0%6%6%5%4%7%1%7%9%7%1%7%4%8%2%8%8%3%10%6%4%5%4%3%7%9%10%1%4%3%4%7%0%2%7%10%7%4%6%4%1%2%3%7%7%6%10%0%3%7%7%3%1%10%8%2%3%0%10%9%4%8%4%10%1%9%3%6%6%4%5%1%2%1%4%3%4%0%3%7%5%5%0%7%9%10%5%4%3%2%2%5%3%8%3%5%6%10%7%6%0%0%10%9%3%10%4%10%10%10%0%0%4%9%5%0%0%3%2%7%0%9%8%9%1%9%2%9%4%10%8%4%10%3%10%3%2%10%10%6%10%2%2%0%0%9%8%9%1%8%3%5%1%1%2%0%1%0%9%1%3%7%4%0%7%1%3%7%10%0%7%10%2%9%9%3%2%4%1%9%8%1%10%3%7%2%3%10%4%0%9%0%0%4%6%7%4%2%3%0%6%2%0%7%7%6%2%5%10%8%2%3%9%8%5%1%10%0%1%9%1%0%3%0%8%10%5%9%6%3%1%5%0%1%1%4%7%1%3%9%4%2%0%9%0%8%10%5%2%3%7%8%10%0%3%0%10%3%2%10%9%8%10%9%10%4%10%2%9%7%5%10%4%2%5%2%8%6%2%10%7%10%3%2%0%1%2%8%0%7%0%9%10%6%4%9%3%8%5%4%10%1%9%8%9%9%4%8%9%6%7%1%2%2%0%5%3%8%7%4%3%3%9%4%5%1%3%7%3%10%5%8%9%8%0%4%4%3%1%9%4%4%9%7%6%7%6%6%3%3%0%6%9%4%6%5%9%3%7%3%8%2%3%10%1%3%4%6%9%10%8%2%7%9%7%3%0%8%5%8%6%3%4%1%0%3%1%6%10%9%2%4%6%9%7%10%7%0%7%8%10%3%0%9%1%2%4%1%8%0%4%7%0%10%2%9%3%6%10%7%2%10%6%3%7%3%4%7%0%6%10%7%3%3%4%10%9%9%10%9%0%0%3%3%8%1%10%6%6%8%4%8%4%4%1%3%0%1%9%9%0%9%7%2%4%4%2%4%0%8%1%10%10%6%3%7%6%4%0%9%3%9%8%4%3%6%0%10%1%9%2%8%2%7%6%1%10%0%3%0%7%9%7%10%5%5%1%7%2%1%3%2%5%2%3%6%8%1%6%7%9%7%5%4%7%4%4%8%0%6%10%1%7%2%1%9%9%4%7%10%6%0%3%10%6%3%9%7%10%2%7%7%9%7%1%4%6%0%2%6%4%4%10%7%3%0%8%5%8%3%9%8%7%7%0%1%9%3%0%6%8%10%7%4%6%9%7%5%9%8%0%6%10%4%8%9%1%3%8%3%1%6%7%3%4%5%3%9%8%7%4%2%7%10%8%1%7%10%5%8%0%7%6%0%10%10%2%4%8%5%6%5%8%0%4%10%10%3%9%3%8%4%1%10%1%9%10%4%0%8%3%4%6%1%4%2%8%6%4%2%7%6%5%6%10%3%9%7%10%3%1%6%6%5%10%1%4%5%1%8%5%4%8%9%4%5%4%7%10%6%8%7%10%3%4%8%2%4%2%3%5%3%9%3%5%7%4%8%4%7%9%2%4%1%8%3%0%1%3%7%3%8%3%1%5%2%1%5%1%2%9%9%7%10%3%3%10%9%3%0%3%3%9%1%9%9%10%8%5%9%5%2%0%2%8%6%2%3%5%8%9%7%10%0%7%3%2%1%0%10%9%10%2%9%9%3%3%9%6%10%7%0%8%8%8%5%5%9%5%7%6%4%5%8%8%3%3%4%0%6%5%7%1%10%3%1%0%5%10%6%3%8%8%7%9%7%0%5%10%3%8%8%0%0%7%6%3%8%9%5%9%7%6%3%7%2%0%4%10%2%0%0%7%3%7%9%5%10%7%4%3%10%0%10%3%3%1%7%2%2%5%9%8%7%1%10%7%2%9%3%10%5%1%10%5%1%3%1%7%9%1%7%2%5%5%3%7%7%5%7%7%3%8%3%7%4%1%7%1%7%0%10%8%1%0%10%0%5%5%10%1%6%3%8%10%2%5%10%7%8%4%1%9%9%2%5%9%1%8%0%9%0%6%2%7%0%5%2%10%4%1%5%4%0%9%4%6%8%0%4%1%8%1%5%4%8%3%5%10%6%3%10%9%8%8%6%9%0%3%8%10%0%2%6%7%7%3%3%1%10%1%2%2%9%9%8%0%7%0%4%10%10%10%3%1%8%1%7%7%7%3%2%4%9%1%7%5%9%7%8%9%3%4%3%9%7%0%8%8%9%1%10%9%10%0%2%3%10%5%1%0%5%0%1%1%0%8%0%8%0%6%7%1%9%6%10%2%7%3%4%9%6%5%4%8%8%0%8%3%10%10%10%0%9%9%9%1%3%9%7%8%0%0%4%0%7%10%9%5%4%7%1%9%10%3%4%9%0%3%8%4%7%4%9%6%8%4%4%6%6%6%10%4%3%10%3%8%3%3%3%3%4%5%6%1%1%2%10%6%7%8%3%9%0%6%0%3%9%6%1%6%0%7%2%9%5%2%10%3%0%3%0%4%8%9%5%2%8%8%4%1%3%6%9%3%0%10%10%9%2%0%5%1%8%0%10%4%10%4%3%9%10%5%2%0%10%9%0%9%6%3%2%1%9%10%7%1%2%8%8%3%3%1%6%0%3%9%8%3%1%10%4%6%6%2%4%0%2%3%3%1%6%4%8%7%3%6%9%6%8%5%8%9%10%9%10%2%3%5%0%5%8%0%9%10%0%4%2%9%8%9%7%4%7%10%1%7%3%3%3%8%3%10%1%7%4%9%3%1%8%5%0%4%9%7%10%4%1%0%2%8%10%8%3%6%3%8%4%5%0%3%3%2%3%10%4%7%4%10%9%4%2%7%9%5%9%10%7%8%4%3%2%6%10%1%5%2%4%0%5%4%3%7%1%2%8%10%6%6%3%0%10%7%3%0%0%10%1%4%9%4%1%9%5%4%7%7%8%9%0%2%6%1%7%7%9%8%9%9%2%1%1%1%0%10%10%6%2%9%7%5%1%9%3%9%9%3%4%2%9%2%6%5%3%6%4%3%6%8%9%5%5%3%10%7%7%5%0%3%4%7%4%7%3%1%7%0%9%6%0%8%0%0%6%10%4%8%5%10%9%3%8%3%1%0%9%2%9%9%10%9%6%3%5%7%9%7%4%2%9%8%1%10%8%0%3%4%4%6%5%0%7%4%1%8%3%8%8%9%4%10%1%3%3%6%0%6%4%7%0%0%1%1%0%4%9%10%3%9%9%7%1%0%5%10%7%8%3%9%3%6%7%4%1%10%2%10%6%5%9%8%1%8%4%3%0%10%1%8%9%10%2%8%3%0%3%4%0%10%6%7%3%6%8%2%8%1%4%3%6%3%5%7%3%6%4%5%1%1%10%10%6%6%0%5%4%3%6%3%7%8%0%0%10%9%3%3%9%1%0%7%7%9%3%7%4%3%10%1%9%6%1%3%4%2%4%2%4%6%6%0%8%4%4%3%0%5%8%1%7%3%9%2%2%7%4%6%10%10%10%5%2%3%6%7%1%0%0%3%9%4%5%3%10%0%4%7%7%3%5%1%0%1%10%5%1%8%1%6%0%3%10%3%2%10%2%4%10%3%4%2%7%3%0%10%6%5%7%6%10%4%0%6%7%6%5%3%6%3%2%7%3%9%2%8%0%0%8%0%6%10%2%5%3%3%7%7%9%10%2%1%10%3%5%3%1%4%5%10%10%10%1%2%9%8%5%9%1%6%8%10%7%1%7%2%6%6%10%8%0%2%7%3%7%10%3%0%3%1%1%2%7%6%0%6%10%10%4%8%4%2%9%9%2%6%0%6%9%0%3%7%5%4%9%0%5%3%5%4%3%2%3%4%1%8%5%10%0%4%6%0%5%10%0%3%9%5%9%5%1%9%3%9%2%3%3%8%6%2%7%5%2%0%8%10%3%1%10%4%4%6%9%6%3%0%2%6%5%0%8%10%8%7%3%10%8%4%3%2%6%10%9%4%9%5%6%6%3%1%3%8%3%3%2%1%3%7%2%10%10%2%2%5%1%10%10%2%4%0%7%8%8%2%0%3%8%3%10%9%9%8%3%4%0%2%10%0%7%9%1%1%3%7%0%9%0%10%5%10%4%10%3%9%5%2%9%10%9%9%3%3%3%7%4%5%0%0%4%5%4%7%2%10%10%10%10%7%9%9%9%7%0%9%10%1%10%2%10%6%1%0%8%1%0%5%5%7%2%3%2%1%0%1%10%8%10%7%3%3%10%0%1%9%8%9%0%8%1%0%3%0%5%4%0%1%4%1%10%0%1%9%3%8%4%8%10%1%8%5%7%0%10%6%0%1%2%9%3%5%5%0%3%1%10%3%3%7%6%8%3%2%3%7%8%2%9%3%9%10%3%0%3%5%6%2%7%3%3%3%10%8%10%5%10%10%6%4%1%1%5%3%1%5%9%0%3%9%4%2%7%7%7%3%3%0%0%7%3%3%2%6%6%7%5%7%4%3%3%4%5%3%9%9%1%7%1%3%1%3%6%2%7%1%7%1%7%3%3%7%1%4%5%8%3%0%1%9%0%8%7%6%3%9%2%2%9%1%1%1%1%7%4%10%2%1%7%2%8%5%3%7%5%7%3%5%0%9%9%3%2%9%10%6%3%6%4%0%4%3%8%7%2%4%10%7%0%7%2%4%3%1%4%0%9%2%2%8%10%0%9%4%10%8%4%6%1%8%1%8%2%7%1%0%3%7%2%6%3%3%0%9%3%0%2%0%0%9%3%8%7%7%3%5%5%0%3%4%3%9%0%0%3%3%0%3%8%5%2%4%9%7%4%4%3%2%8%3%0%6%3%10%2%3%0%10%3%7%10%10%4%10%6%6%6%0%9%9%4%8%2%7%9%9%5%1%9%6%8%8%3%9%9%10%6%5%8%6%3%5%10%8%5%9%1%6%7%8%10%3%5%9%9%7%2%3%2%5%3%9%10%7%1%6%3%0%7%3%4%8%4%0%1%4%9%3%8%2%9%4%8%10%3%3%5%2%6%8%0%3%0%7%0%7%3%10%7%3%0%7%2%1%5%8%6%3%1%6%3%7%10%6%2%3%9%3%4%10%7%5%8%5%3%1%0%4%7%7%0%3%6%0%9%9%9%4%10%5%9%3%8%2%7%7%10%1%4%0%7%7%0%3%4%9%0%3%4%5%9%0%9%8%7%7%3%5%5%9%7%10%1%4%4%10%0%3%9%7%8%9%3%3%9%9%3%3%2%0%7%3%4%6%1%0%6%6%9%10%0%0%3%4%4%10%6%0%3%5%3%0%6%3%3%5%2%0%5%7%10%1%5%0%9%0%3%1%2%6%2%8%3%6%7%4%2%3%5%8%9%5%7%3%0%0%2%3%3%10%1%10%7%7%9%7%4%4%8%9%3%3%9%2%1%5%1%1%9%1%2%2%9%6%4%5%10%7%2%2%6%6%10%0%8%4%7%9%8%7%10%7%3%2%9%0%3%10%3%7%1%2%6%1%8%8%1%4%4%8%10%5%1%0%10%5%6%7%7%10%1%3%1%4%2%5%0%0%7%5%3%2%8%8%4%7%9%0%7%5%4%9%6%2%7%7%6%5%2%2%6%7%5%4%8%9%3%1%5%3%1%4%10%0%9%1%8%1%6%2%3%9%3%7%1%2%7%2%6%1%5%5%7%9%7%1%7%1%3%1%0%8%0%10%3%8%9%0%3%2%8%5%4%9%7%1%5%1%0%3%8%10%4%3%5%0%1%2%2%7%3%8%1%2%4%6%9%1%1%10%6%8%4%2%9%9%5%10%1%4%1%7%9%9%0%3%3%10%7%7%7%1%4%10%10%3%10%3%0%0%3%6%0%3%7%10%4%1%8%9%1%9%1%2%4%0%2%7%9%10%2%10%2%1%10%10%10%0%8%4%3%2%7%8%10%6%7%9%6%1%6%8%1%4%8%4%9%10%7%1%3%5%10%7%9%8%9%3%7%3%8%7%10%10%9%6%7%8%7%3%0%4%1%1%0%9%7%2%5%1%4%9%4%2%3%6%10%8%9%0%0%7%0%0%6%7%2%10%8%8%3%10%10%1%4%9%0%3%10%5%9%4%0%3%4%5%6%10%7%3%3%1%8%9%8%4%10%2%0%7%10%1%4%2%7%10%3%8%4%1%4%5%7%5%7%3%0%1%6%1%3%1%0%9%9%2%0%3%10%5%4%5%3%10%2%2%5%9%2%10%5%3%0%0%3%3%10%6%9%4%9%3%1%1%3%4%1%6%8%10%8%9%5%7%3%9%9%6%4%5%4%1%5%7%8%0%7%8%4%2%8%5%5%6%9%1%0%8%0%2%3%9%8%1%0%9%5%6%3%4%1%1%2%0%0%10%3%5%4%5%7%9%4%7%6%9%4%0%8%8%4%4%3%8%9%6%6%2%7%9%9%4%1%4%10%4%3%3%10%5%10%6%5%10%0%10%5%2%9%5%4%5%7%0%3%3%9%0%9%9%1%10%10%0%0%9%9%0%3%7%7%9%0%8%4%3%3%10%0%0%6%7%0%2%6%10%5%4%2%9%9%1%1%10%8%1%9%7%4%4%10%4%7%8%3%3%0%0%3%8%8%10%3%7%2%10%0%7%9%3%3%4%8%7%5%8%4%1%8%4%10%7%10%3%4%8%5%0%10%10%2%6%9%4%6%6%10%8%3%2%9%1%5%6%4%2%4%9%3%6%2%10%2%4%8%10%3%8%4%2%3%9%9%0%3%1%9%7%10%5%9%5%1%3%7%4%2%4%10%4%6%0%8%9%8%10%7%1%9%0%9%0%7%7%0%4%3%10%3%3%5%0%3%9%9%7%1%10%4%2%6%9%9%3%7%6%3%9%5%5%6%9%7%2%3%8%0%10%4%8%10%0%2%7%7%10%0%9%4%3%9%7%10%6%5%1%1%10%4%4%3%1%2%0%5%0%8%3%0%9%0%7%4%0%9%6%2%4%6%3%8%9%0%0%7%9%10%0%3%4%8%4%7%9%10%4%9%10%6%9%0%0%7%5%3%6%2%9%0%5%8%0%5%3%7%5%6%8%1%2%10%0%7%8%9%9%8%7%10%0%10%2%5%4%6%7%4%7%9%10%10%0%9%7%10%3%9%6%9%2%9%7%5%2%4%10%0%9%7%9%6%7%2%5%10%4%3%5%5%10%1%9%6%2%5%3%5%5%5%2%3%0%1%9%3%10%8%9%2%8%8%4%5%8%5%0%5%2%9%9%7%7%10%9%9%9%3%3%9%10%2%0%1%3%0%3%9%8%0%7%1%7%6%0%9%4%9%3%3%0%0%4%5%8%9%10%10%4%9%7%8%0%3%3%5%4%1%0%4%10%4%3%8%9%2%1%8%0%0%2%7%3%6%9%10%3%8%3%6%0%0%6%4%0%0%3%6%1%9%10%10%7%6%6%0%8%9%7%0%6%0%3%2%10%3%0%9%5%8%9%2%9%1%6%3%7%6%2%4%1%8%1%8%4%1%6%10%7%3%8%4%10%4%9%4%2%9%0%9%5%3%2%1%5%7%3%8%1%9%8%5%9%6%10%1%6%10%6%1%1%6%6%3%10%2%9%1%2%7%7%3%7%5%10%2%9%1%4%0%9%0%0%3%9%3%0%3%5%2%9%2%10%9%9%3%8%5%9%1%3%7%3%6%1%2%2%7%10%4%3%7%3%7%3%2%4%4%8%6%7%7%7%4%4%9%8%8%3%9%0%0%2%10%6%9%2%3%10%0%0%3%6%3%0%8%10%8%3%3%1%2%3%7%7%8%7%3%10%8%3%10%10%3%2%5%9%2%9%1%10%0%10%5%2%8%5%1%7%10%3%6%9%3%3%0%6%0%3%2%5%4%2%8%1%0%6%6%2%5%3%8%3%1%3%3%2%9%10%2%4%1%8%7%9%5%9%10%4%10%0%0%4%9%7%7%8%9%3%8%6%1%10%0%10%9%7%1%4%0%3%0%3%1%9%7%6%0%4%10%10%7%7%3%8%4%8%5%2%7%9%5%0%' to numeric

In [129]:
# 32. What is the average discount % across all orders?

data['Discount %'].astype(str).str.replace('%', '', regex=False).astype(float).mean()

np.float64(5.0338)

In [ ]:
# 34. What is the average total spend per order?

data.groupby('Order No')['Total'].sum().mean()

np.float64(2600.3737979094076)

In [ ]:
# 34. What is the average total spend per order?

data.groupby('Order No')['Total'].sum().mean()

np.float64(2600.3737979094076)

In [125]:
# 34. What is the average total spend per order?

data.groupby('Order No')['Total'].sum().mean()

np.float64(2600.3737979094076)

In [126]:
# 35. Are certain containers (e.g., Small Box, Wrap Bag) more profitable?

data.groupby('Product Container')['Profit Margin'].mean()

Product Container
Jumbo Drum    16.483419
Large Box     11.637730
Medium Box    15.637523
Small Box     19.668452
Small Pack    16.836970
Wrap Bag      16.407018
Name: Profit Margin, dtype: float64